<!doctype html>

<html>
<meta charset="utf-8">
<body>

    <h1>Ficha del coche</h1>
    <ul>
        <li><strong>Marca: </strong>{{ coche.marca}}</li>
        <li><strong>Modelo: </strong>{{ coche.modelo}}</li>
        <li><strong>Año: </strong>{{ coche.año}}</li>
        <li><strong>Precio: </strong>{{ coche.precio}}</li>
    </ul>
</body>

</html>
